*{
    margin: 0;
    padding: 0;
}
.preloader{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 100000000;
}
/*.preloader:before{
    content: 'Counting...';
    position: absolute;
    font-size: 10em;
    color: rgba(255,255,255,.03);
}*/
.preloader.active{
    transform: translateY(-100vh);
    transition: ease-in-out 2s;
    transition-delay: 1s;
}

.counter{
    position: relative;
    color: gold;
    font-size: 14em;
    font-weight: 600;
    z-index: 1;
}
.counter:after{
    content: 'Years+';
    font-size: 0.5em;
    font-family: cursive;
}

.hide{
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: contain;
    position: relative;
    !display: flex;
}


.dp{
    position: absolute;
    top: 40px;
    right: 300px;
}
.dp img{
    border-radius: 50%;
    border: 5px solid white;
}


.hey{
    position:absolute;
    top: 110px;
    right: 530px;    
}
.hey p1{
    font-size: 30px;
    font-family: cursive;
    color: #fff;
}
.hey p2{
    font-size: 50px;
    color: gold;
}


.text-box{
    width:90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    !font-family: cursive;
    color: gold;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    font-family: cursive;
    color: white;
}


.hero-btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 2px solid gold;
        padding: 12px 34px;
        font-size: 13px;
        font-family: inherit;
        font color: gold;
        background: transparent;
        position: relative;
        cursor: pointer;
}
.hero-btn:hover{
        border: 2px solid #DAA520;
        background: #DAA520;
        transition: 1s;
}

@media all and (max-width: 1900px){
    .dp{
        top: 36px;
        right: 230px;
}
    .dp img{
        height: 110px;
        width: 110px;
        border-radius: 50%;
        border: 5px solid white;
}
    .hey{
        top: 75px;
        right: 360px;    
}
    .hey p1{
        font-size: 20px;
}
    .hey p2{
        font-size: 36px;
}
    .text-box{
        width:72%;
}
    .text-box h1{
        font-size: 52px;
}
    .text-box p{
        margin: 12px 0 20px;
        font-size: 14px;
}
    .hero-btn{
        padding: 10px 28px;
        font-size: 12px;
}
}

@media (max-width: 1000px){
    .dp{
        top: 80px;
        right: 110px; 
}
    .dp img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 5px solid white;
}
    .hey{
        top: 150px;
        right: 280px;
}
    .hey p1{
        font-size: 22px;
}
    .hey p2{
        font-size: 34px;
}
    .text-box{
        width: 80%;
}
    .text-box h1{
        font-size: 82px;
}
    .text-box p{
        margin: 12px 0 20px;
        font-size: 18px;
}
    .hero-btn{
        padding: 10px 28px;
        font-size: 12px;
}
}


    
